<!DOCTYPE html>
<html>
  <head>
    <%- include('../fonts') -%>

    <link href="/static/styles/main.css" rel="stylesheet"> 

    <%- include('../meta') -%>
    
    <%- include('../favicon') -%>


    <title>Short URL</title>
  </head>
  <body>

