
<%- include('../components/headers/mainpage_header') -%>

<div class='container'></div>


<div style='display: flex; justify-content: center; margin-top: 50px;'>
  <div style='display: flex; flex-direction: column;'>
    <h3>Error occured</h3>
    <div><%= message %></div>
  </div>
</div>
<%- include('../components/footer') -%>