<%- include('../components/headers/mainpage_header') -%>

<div class='container'></div>


  <div style='display: flex; justify-content: center; margin-top: 50px;'>
    <div style='display: flex; flex-direction: column;'>
      <h1 style='text-transform: uppercase; text-align: center; color: #87c4e7'>Create short URL</h1>

      <div class='mainpage-card'>
        <div style='padding: 20px 40px;'>
          <form action="/new" method="POST" class="">
            <div>
              <label class='mainpage-page-label' for="source">Source URL</label>
              <input type="url" name="source" id="source" required>
            </div>
            <div>
              <input class='form-input-submit' type="submit" value="Create short URL">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  
  

  
</div>
<%- include('../components/footer') -%>

